/*详情页 tab*/
.templatemo_content_right div.demolayout {
	width: 670px;
	margin: 0 0 20px 0;
}
.templatemo_content_right ul.demolayout {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.templatemo_content_right ul.demolayout li{
	margin: 0 10px 0 0;
	float: left;
	padding: 0 0;
	background: #303942;
}
.templatemo_content_right ul.demolayout li.active{
	background: #fff;
}
.templatemo_content_right ul.demolayout a {
	float: left;
	display: block;
	padding: 5px 25px;
	border-bottom: 0;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.templatemo_content_right ul.demolayout li.active a{
	padding-bottom: 5px;
	cursor: default;
	color: #586973;
}
.templatemo_content_right .tabs-container {
	clear: left;
	padding: 0px;
}
.templatemo_content_right .tab {
	background: #fff;
	padding: 20px 10px;
	color: #586973;
	box-shadow: 2px 3px 5px 0 rgba(44,45,52,.17);
	border-radius: 0 4px 4px 4px;
	min-height: 250px;
}
.templatemo_content_right .tab .tab-item{
	padding: 5px 10px;
	position: relative;
}
.templatemo_content_right .tab .tab-item:before{
	content: "";
	display: block;
	position: absolute;
	left: 2%;
	bottom: 0;
	background: #ddd;
	height: 1px;
	width: 96%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.templatemo_content_right .tab .tab-item .item-userinfo .name{
	color: #3377aa;
}