body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(../images/templatemo_bg.jpg) repeat-y;
}


/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(../images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fcf88e;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/templatemo_header_bg.png) no-repeat;
}

#templatemo_header a,a:hover {
	color: #ffffff;
}

#templatemo_header #templatemo_notice {
	float: left;
	font-size: 14px;	
	margin-top: 95px;
	margin-left: 490px;
	width: 180px;
}

#templatemo_notice a {
	font-size: 12px;
}

#templatemo_notice  p {
	margin: 0 0 20px 0;
}
#templatemo_notice p span {
	font-size: 18px;
}

#templatemo_header #templatemo_new_books {
	float: left;
	margin-top: 90px;	
	margin-left: 55px;
	width: 180px;
}

#templatemo_new_books ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#templatemo_new_books li {
	 margin: 0;
	 padding: 0; 
}


/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 1px solid #212120;
}

#templatemo_content .templatemo_content_right {
	float: right;
	width: 670px;
}

#templatemo_content .templatemo_content_right .title{
	font-size: 18px;
	vertical-align: middle;
	color: #fff;
}

#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.templatemo_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}





.templatemo_content_right .templatemo_product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

.templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(../images/templatemo_h1_bg.jpg);
}

.templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

.templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

.templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

.templatemo_content_right li {
	padding: 0 0 3px 0;
}

.templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

.templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
	font-weight: normal;
}

.templatemo_product_box img {
	float: left;
	margin-right: 20px;
}

.templatemo_product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */



/* 注册页面 */
.templatemo_login_container{
	height: 100%;
}
.templatemo_login_content .contact_form {
	width: 400px;
	padding: 25px;
	margin: 20px auto;
	border: 1px #DFD1D2 dashed;
	position: relative;
}
.templatemo_login_content  .form_subtitle {
	position: absolute;
	top: -15px;
	left: 30px;
	width: auto;
	height: 35px;
	background-color: #795636;
	text-align: center;
	padding: 0 7px 0 7px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 35px;
	border-radius: 4px;
}
.templatemo_login_content .templatemo_login_form{
	margin: 20px 0;
}
.templatemo_login_content .form_row {
	width: 335px;
	_width: 355px;
	clear: both;
	padding: 10px 0 10px 0;
	_padding: 5px 0 5px 0;
	color: #a53d17;
}
.templatemo_login_content  label.contact {
	width: 75px;
	float: left;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #fff;
}
.templatemo_login_content  strong,.templatemo_login_content  b {
	font-weight: bold;
}
.templatemo_login_content input.contact_input {
	width: 253px;
	height: 18px;
	background-color: #fff;
	/*color: #999999;*/
	color: #111110;
	border: 1px #DFDFDF solid;
	float: left;
}
.templatemo_login_content .terms {
	padding: 0 0 0 80px;
}
.templatemo_login_content input[type="checkbox"] {
	margin: 3px 3px 3px 4px;
}
.templatemo_login_content input[type="checkbox"] {
	-webkit-appearance: checkbox;
	box-sizing: border-box;
}
.templatemo_login_content input.login {
	width: 71px;
	height: 25px;
	border: none;
	cursor: pointer;
	text-align: center;
	float: right;
	color: #FFFFFF;
	background: #845937;
	border-radius: 4px;
}


/* 个人信息页面 */
.info_preview {
	padding-top: 8px;
}
.info_preview .preview_title {
	padding-bottom: 8px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	overflow: hidden;
	height: 50px;
	position: relative;
}
.info_preview .preview_title h4 {
	font-size: 16px;
	float: left;
}
.info_preview .preview_title a {
	font-size: 16px;
	color: #498B31;
	position: absolute;
	top: 20px;
	right: 10px;
}
.info_preview .preview_list {
	padding: 15px 0 8px;
}
.info_preview .preview_list ul {
	margin-bottom: 14px;
}
.info_preview .preview_list li {
	margin-bottom: 10px;
	overflow: hidden;
	list-style: none;
	font-size: 14px;
}
.info_preview .preview_list li label {
	line-height: 22px;
	display: block;
	width: 138px;
	height: 22px;
	float: left;
	cursor: default;
}
.info_preview .preview_list .preview_option {
	line-height: 22px;
	margin-left: 120px;
}
